{% extends "parent.njk" %}

{% block content %}
<h1>Üdvözlöm</h1>
<h2>Ez az weboldal egy képzeletbeli iroda, és ügyfelei köötti komunikációt segíti, így a használata bejelentkezéshez kötött!</h2>
<h3>Példa felhaszáló fiók</h3>
<h4>email: joci@kovacs.hu <br />
jelszó: 1234567890
</h4> 
{% endblock %}