{% extends "parent.njk" %}

{% block content %}
<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Hiba!</h4>
  <p>Nincs bejelentkezve</a></p>
</div>
<h1>Az üzenetek megtakintéséhez <a href="/login">BE KELL JELENTKEZNIE</a></h1>
{% endblock %}